<%- include("./partials/header")%>
<div class="jumbotron" style="width: 40%; margin-left: 20%; margin-top: 2%;" >
  <h1 style="color: rgb(7, 7, 7);">Login Here!</h1>
  <form action="/login" method="POST">
    <div class="form-group">
      <label style="color: rgb(3, 3, 3);">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="email"
        name="Email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="color: rgb(14, 13, 13);">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("./partials/footer")%>
